{% extends 'base.hmtl' %}
{% block content%}

<form action="info_page.html" method="GET">
    <div id="inputs"> 
        <p>
            Your Name:
            <input type="text" value="Bill" name="users_name"> 
        </p>
        <p>
            Your Gender: 
            <input type="op-type" name="users_gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
        </p>
        <p>
            Your Age:
            <input type="number" value=18 name="users_age">
        </p>
    </div>
</form>
